# OPERACIONES PRINCIPALES

In [0]:
# ejemplo1
import numpy 
from numpy import * 
sqrt(2) 
import numpy as np 
np.sqrt(2) 
from numpy import sqrt, exp 
sqrt(2) 
exp(3) 
a, b, c = 1, -1, -1
(-b + np.sqrt(b**2 - 4*a*c))/(2*a)

from numpy.random import random as rng 
rng() 
import numpy as np 
import matplotlib.pyplot as plt 
import numpy as np, matplotlib.pyplot as plt

In [5]:
# ejemplo2
x = [3, 4] # a list object is created 
y = x # this object now has two labels: x and y 
del x # we delete one of the labels 
del y # both labels are removed: the object is deleted 

counter = 100          # An integer assignment 
miles   = 1000.0       # A floating point 
name    = "John"       # A string 
print (counter) 
print (miles) 
print (name )
a = b = c = 1 
a,b,c = 1,2,"john"

100
1000.0
John

In [7]:
# ejemplo3
import math 
i=12.0 
q=5.0 
print ("Cartesian: (%.1f,%.1f)" %(i,q)) 
print( "Polar: r = %.1f" %math.sqrt(math.pow(i,2) + math.pow(q,2)) + ", Theta = %.1f" %math.degrees(math.atan(q/i)) + " degrees")

Cartesian: (12.0,5.0)
Polar: r = 13.0, Theta = 22.6 degrees

# Operaciones Algebraicas Y Lógicas en python

In [12]:
# ejemplo4

x = 15 
y = 4 # Output: x + y = 19 
print('x + y =',x+y) # Output: x - y = 11 
print('x - y =',x-y) # Output: x * y = 60 
print('x * y =',x*y) # Output: x / y = 3.75 
print('x / y =',x/y) # Output: x // y = 3 
print('x // y =',x//y) # Output: x ** y = 50625 
print('x ** y =',x**y) 
print('x ^ y =',y^x)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625
x ^ y = 11

In [13]:
# ejemplo5

def cmp(a, b):
    return (a > b) - (a < b) 
  

import math
x = -35 
x = abs(x) 
print(x)  
  
x = 6 
y = 4 
cmp(x,y)
 
x = 6 
print( math.exp(x) )  
  
import math 
x = 6 
print( math.log(x) ) 
math.log10(10)

35
403.4287934927351
1.791759469228055

1.0

In [14]:
# ejemplo6.1
import math
x=10
exp(x) 	#Return e**x. 
expm1(x)   #Return e**x - 1. 
log1p(x)  #Return the natural logarithm  of 1+x (base e).. 
log10(x)   # math.log(x[, base]) 
sin(x)  #Return the arc cosine of x, in radians.

-0.5440211108893698

In [16]:
# ejemplo6.2
import numpy as np
a=.3
b=.4
x=-3
z=1
abs(x) 	#	Devuelve el valor absoluto de x

x=complex(a, b) 	#	Devuelve el número complejo a + bj
x.conjugate 	#	Devuelve el conjugado complejo de x
x.real 	#	Devuelve la parte real del número complejo x
x.imag 	#	Devuelve la parte imaginaria del número complejo x
pow(x, y) 	#	Devuelve x ** y si z está ausente; devuelve (x ** y)% z si z en presente

(-0.0527-0.03360000000000002j)

In [24]:
# ejemplo7.1

x=10
x= exp(x) #Return e**x.


log1p(x) #Return the natural logarithm of 1+x (base e)..
log10(x) #

x=0.5
math.acos(x) # Return the arc cosine of x, in radians.
math.asin(x) # Return the arc sine of x, in radians.
math.atan(x) # Return the arc tangent of x, in radians.
math.atan2(y, x) # Return atan(y / x), in radians.

# ejemplo7.2

cos(x) # Return the cosine of x radians.

hypot(x, y)  # Return the Euclidean norm, sqrt(x*x + y*y). This is the length of the vector (x, y).

sin(x)  # Return the sine of x radians.

tan(x) # Return the tangent of x radians.

degrees(x)  # Convert angle x from radians to degrees.

radians(x)  # Convert angle x from degrees to radians.

0.008726646259971648

In [32]:
x=10
math.acosh(x)  
math.asinh(x)
x=0.2
math.atanh(x)  
math.cosh(x) 
math.sinh(x)  
math.tanh(x)  
math.pi  
math.e

2.718281828459045

In [34]:
#  ejemplo8.1
    
hc = complex(3.1, 4.2)
hc
real = 0.2703
real = 0.1e-3
complejo = 2.1 + 7.8j
a=2
b=1j
he = complex(a)
he

hk = hc.conjugate()
abs(hk)

hr = hk.real
hi = hk.imag

#  ejemplo8.2
x,y= 7,3
divmod(x, y)	#the pair (x // y, x % y)
a = -3.2
aa = abs(a)

g = pow(13,11)	 
g	 
		
	 
pow(13,11,17)
print (round(3.14159265, 2))
b=5
float(b)


import math
x = 6
print( math.log10(x) ) 


x = 6
print( math.pow(x,2) ) 

x = 6
print( math.sqrt(x) )

3.14
0.7781512503836436
36.0
2.449489742783178

# Operaciones Algebraicas Y Lógicas en python

In [46]:
# EJEMPLO10

x = True
y = False

# Output: x and y is False
print('x and y is',x and y)

# Output: x or y is True
print('x or y is',x or y)

# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

# Operaciones  con binarias

In [47]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0
print(a)
print(b)
c = a & b;        # 12 = 0000 1100
print ("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101 
print ("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print ("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

60
13
Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [0]:
###EJEMPLO13

v1 = int(2.7) # 2
v2 = int(-3.9) # -3
v3 = int("2") # 2
v4 = int("11", 16) # 17, base 16
v5 = long(2)
v6 = float(2) # 2.0
v7 = float("2.7") # 2.7
v8 = float("2.7E-2") # 0.027
v9 = float(False) # 0.0
vA = float(True) # 1.0
vB = str(4.5) # "4.5"
vC = str([1, 3, 5]) # "[1, 3, 5]"

In [59]:
###EJEMPLO14 Type conversion in Python by example:

vD = bool(0) # False; bool fn since Python 2.2.1
vE = bool(3) # True
vF = bool([]) # False - empty list
vG = bool([False]) # True - non-empty list
vH = bool({}) # False - empty dict; same for empty tuple
vI = bool("") # False - empty string
vJ = bool(" ") # True - non-empty string
vK = bool(None) # False
vL = bool(len) # True
vM = set([1, 2])
vN = list(vM)
vO = list({1: "a", 2: "b"}) # dict -> list of keys
vP = tuple(vN)
vQ = list("abc") # ['a', 'b', 'c']
print (v1, v2, v3, type(v1), type(v2), type(v3))

2 -3 2 <class 'int'> <class 'int'> <class 'int'>

# #####List Tuples arrays

In [63]:
##ejemplo1
my_name = 'ABC XYZ'
my_age = 20 # not a lie
my_height = 1.75 # m
my_weight = 71 # kgrs
my_eyes = 'marron oscuro'
my_hair = 'negro'

print ('hola me presento %s.' % my_name)
print ('mido unos %s. ' % my_height+ 'metros')
print ('mido unos %s. ' % my_weight+ 'kgrs')
print ('mis ojos y pelo son %s %s'  %(my_eyes, my_hair))

##ejemplo2
vM = set([1, 2])
vN = list(vM)
vO = list({1: "a", 2: "b"}) # dict -> list of keys
vP = tuple(vN)
vQ = list("abc") # ['a', 'b', 'c']

hola me presento ABC XYZ.
mido unos 1.75. metros
mido unos 71. kgrs
mis ojos y pelo son marron oscuro negro

In [64]:
##ejemplo3
str = 'Hello World!'

print (str   )       # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:]    )  # Prints string starting from 3rd character
print (str * 2     ) # Prints string two times
print (str + ''+'TEST') # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [0]:
###ejemplo4
f= open("guru99.txt","w+")

for i in range(10): 
    f.write("This is line %d\r\n" % (i+1)) 

f.close() 

f=open("guru99.txt", "a+") 

for i in range(2): 
    f.write("Appended line %d\r\n" % (i+1))

### Cómo leer un archivo
# 'r' Este es el modo predeterminado. Abre el archivo para leer.
# 'w' Este modo abre el archivo para escribir. Si el archivo no existe, crea un nuevo archivo. Si el archivo existe, trunca el archivo.
# 'x' Crea un nuevo archivo. Si el archivo ya existe, la operación falla.
# 'a' Abrir archivo en el modo de agregar. Si el archivo no existe, crea un nuevo archivo.
# 't' Este es el modo predeterminado. Se abre en modo de texto.
# 'b' Esto se abre en modo binario.
# '+' Esto abrirá un archivo para lectura y escritura (actualización)

In [0]:

###ejemplo5
def main():
    f= open("guru99.txt","w+")
    #f=open("guru99.txt","a+")
    for i in range(10):
         f.write("This is line %d\r\n" % (i+1))
    f.close()
    #Open the file back and read the contents
    #f=open("guru99.txt", "r")
    #if f.mode == 'r':
    #   contents =f.read()
    #    print (contents)
    #or, readlines reads the individual line into a list
    #fl =f.readlines()
    #for x in fl:
    #print(x)
if __name__== "__main__":
  main()

# ESTRUCTURAS DE CONTROL

In [69]:
##Ejemplo6: (Bucle while)Mientras que año sea menor o igual a 2012, imprimir la frase "Informes del Año año".

# -*- coding: utf-8 -*-
anho = 2001 
while anho <= 2012: 
    print ("Informes del Ano ", anho) 
    anho += 1

##Ejemplo7:El bucle for, en Python, es aquel que nos permitirá iterar sobre una variable compleja, del tipo lista o tupla:



#1) Por cada nombre en mi_lista, imprimir nombre

mi_lista = ['Juan', 'Antonio', 'Pedro', 'Herminio'] 
for nombre in mi_lista: 
    print (nombre)
#2) Por cada color en mi_tupla, imprimir color:

mi_tupla = ('rosa', 'verde', 'celeste', 'amarillo') 
for color in mi_tupla: 
    print (color)

Informes del Ano  2001
Informes del Ano  2002
Informes del Ano  2003
Informes del Ano  2004
Informes del Ano  2005
Informes del Ano  2006
Informes del Ano  2007
Informes del Ano  2008
Informes del Ano  2009
Informes del Ano  2010
Informes del Ano  2011
Informes del Ano  2012
Juan
Antonio
Pedro
Herminio
rosa
verde
celeste
amarillo

In [70]:
for num in range(10,20):  # 
   for i in range(2,num): # 
      if num%i == 0:      # 
         j=num/i          #  
         print ('%d DFG%d * %d' % (num,i,j))
         break            #  
   else:                  # 
      print (num, 'sdsfsdfsdf')

10 DFG2 * 5
11 sdsfsdfsdf
12 DFG2 * 6
13 sdsfsdfsdf
14 DFG2 * 7
15 DFG3 * 5
16 DFG2 * 8
17 sdsfsdfsdf
18 DFG2 * 9
19 sdsfsdfsdf

In [71]:

##ejemplo10
a = 2
b = 5
if (a > b):
    print (a, ' es mayor a ', b)
elif (b > a):
    print (b, ' es mayor a ', a)
else:
    print (a, ' es igual a ', b)


#####Definir funciones
##ejemplo11

def area(width, height):
    return width * height
 
def print_welcome(name):
    print("Welcome", name)

print_welcome("w3big")
w = 4
h = 5
print("width =", w, " height =", h, " area =", area(w, h))

5  es mayor a  2
Welcome w3big
width = 4  height = 5  area = 20

In [72]:
###Parámetros arbitrarios



#Al igual que en otros lenguajes de alto nivel, es posible que una función, espere recibir un número arbitrario -desconocido- de argumentos. Estos argumentos, llegarán a la función en forma de tupla.
#Para definir argumentos arbitrarios en una función, se antecede al parámetro un asterisco (*):

##ejemplo12

def recorrer_parametros_arbitrarios(parametro_fijo, *arbitrarios): 
    print (parametro_fijo) 
     # Los parámetros arbitrarios se corren como tuplas
    for argumento in arbitrarios: 
        print (argumento)
 
recorrer_parametros_arbitrarios('Fixed', 'arbitrario 1', 'arbitrario 2', 'arbitrario 3')



####Desempaquetado de parámetros
##Puede ocurrir además, una situación inversa a la anterior. Es decir, que la función espere una lista fija de parámetros,
## pero que éstos, en vez de estar disponibles de forma separada, se encuentren contenidos en una lista o tupla.
## En este caso, el signo asterisco (*) deberá preceder al nombre de la lista o tupla que es pasada como parámetro durante la llamada a la función:

Fixed
arbitrario 1
arbitrario 2
arbitrario 3

In [74]:

##ejemplo13

def calcular(importe, descuento): 
    return importe - (importe * descuento / 100)
  
  
datos = [1500, 10] 
print (calcular(*datos))




##El mismo caso puede darse cuando los valores a ser pasados como parámetros a una función, se encuentren disponibles 
##en un diccionario. Aquí, deberán pasarse a la función, precedidos de dos asteriscos (**):

##ejemplo14

def calcular(importe, descuento): 
    return importe - (importe * descuento / 100) 
 
datos = {"descuento": 10, "importe": 1500} 
print (calcular(**datos))

1350.0
1350.0

# Tarea Corregir

In [0]:

#### PROBLEMA RAPIDO PARA EJERCITAR
## queremos crear una funcion que nos calcule la
## suma de los cuadrados de los valores de un vector

In [80]:
##ejemplo15
# calcular de mediana
# calcular de la media aritmetica
# calcular la moda

print ("Datos a tratar: ")
data=[1,4,6,7,2,3,4,7,1,2,4,3,4,5,
      6,5,2,3,1,2,5,6,7,3,4,1,5,7,
      1,7,6,5,3,4,3,4,5,5,5,6,7,3,
      4,5,3,4,5,4,5,6,3,4,3,4,5,3,
      4,5,3,4,5,3,4,5,3,4,5,3,1,3,
      4,5,3,4,5,6,5,4,6,5,6,5,1,7]

print (data)
dOrder=sorted(data)

n=len(dOrder)
print(n)
middle=n/2


# codigo para calcular la mediana
if n%2==0:
	mediana=(dOrder[middle+1] + dOrder[middle+2]) / 2
else:
	mediana=dOrder[middle+1]*1


print ('Total datos', n)
print ('Mediana: ', mediana)

Datos a tratar:
[1, 4, 6, 7, 2, 3, 4, 7, 1, 2, 4, 3, 4, 5, 6, 5, 2, 3, 1, 2, 5, 6, 7, 3, 4, 1, 5, 7, 1, 7, 6, 5, 3, 4, 3, 4, 5, 5, 5, 6, 7, 3, 4, 5, 3, 4, 5, 4, 5, 6, 3, 4, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 1, 3, 4, 5, 3, 4, 5, 6, 5, 4, 6, 5, 6, 5, 1, 7]
84

TypeError: ignored

In [81]:
##ejemplo16
# codigo para calcular la media aritmetica
print ('Mediana Aritmetica: ', round(sum(data)*1.0/n,2))

# codigo para calcular la moda
repetir = 0                                                                         
for i in data:                                                                              
    aparece = data.count(i)                                                             
    if aparece > repetir:                                                       
        repetir = aparece                                                       
                                                                                         
moda = []                                                                               
for i in data:                                                                              
    aparece = data.count(i)                                                             
    if aparece == repetir and i not in moda:                                   
        moda.append(i)                                                                  
                                                                                         
print ("moda:", moda)

Mediana Aritmetica:  4.17
moda: [5]

# TAREA: Dibuja Fractals

In [82]:

######## EXTRA GRAFICOS
### PREVIO
### EN LA VENTANA DE COMD TIPEAR: pip install pygame
###
import pygame

pygame.init()

white = (255,255,255)
black = (0,0,0)

red = (255,0,0)
green = (0,255,0)
blue = (0,0,255)

gameDisplay = pygame.display.set_mode((800,600))
gameDisplay.fill(black)


pixAr = pygame.PixelArray(gameDisplay)
pixAr[10][20] = green

pygame.draw.line(gameDisplay, blue, (100,250), (350,450),5)


pygame.draw.rect(gameDisplay, red, (400,800,150,25))


pygame.draw.circle(gameDisplay, white, (150,150), 75)


pygame.draw.polygon(gameDisplay, green, ((25,75),(76,125),(250,375),(400,25),(60,540)))


while True:
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            pygame.quit()
            quit()

    pygame.display.update()

error: ignored

# FRACTALES : Corregir

In [3]:
# Importing the python libraries
!pip install pygame
import pygame, math 
  
# Initialize all imported pygame modules 
pygame.init() 
  
# Create a new surface and window. 
surface_height, surface_width = 800, 600        #Surface variables 
main_surface = pygame.display.set_mode((surface_height,surface_width)) 
  
# Captioning the window 
pygame.display.set_caption("Fractal_Tree_geeksforgeeks") 
  
def draw_tree(order, theta, sz, posn, heading, color=(0,0,0), depth=0): 
  
   # The relative ratio of the trunk to the whole tree   
   trunk_ratio = 0.29     
  
   # Length of the trunk   
   trunk = sz * trunk_ratio 
   delta_x = trunk * math.cos(heading) 
   delta_y = trunk * math.sin(heading) 
   (u, v) = posn 
   newpos = (u + delta_x, v + delta_y) 
   pygame.draw.line(main_surface, color, posn, newpos) 
  
   if order > 0:   # Draw another layer of subtrees 
  
      # These next six lines are a simple hack to make  
      # the two major halves of the recursion different  
      # colors. Fiddle here to change colors at other  
      # depths, or when depth is even, or odd, etc. 
      if depth == 0: 
          color1 = (255, 0, 0) 
          color2 = (0, 0, 255) 
      else: 
          color1 = color 
          color2 = color 
  
      # make the recursive calls to draw the two subtrees 
      newsz = sz*(1 - trunk_ratio) 
      draw_tree(order-1, theta, newsz, newpos, heading-theta, color1, depth+1) 
      draw_tree(order-1, theta, newsz, newpos, heading+theta, color2, depth+1) 
  
  
def main(): 
    theta = 0
  
    while True: 
  
        # Update the angle 
        theta += 0.01
  
        # This little part lets us draw the stuffs  
        # in the screen everything 
        main_surface.fill((255, 255, 0)) 
        draw_tree(9, theta, surface_height*0.9, (surface_width//2, surface_width-50), -math.pi/2) 
        pygame.display.flip() 
  
# Calling the main function 
main() 
pygame.quit()

Collecting pygame
  Downloading https://files.pythonhosted.org/packages/8e/24/ede6428359f913ed9cd1643dd5533aefeb5a2699cc95bea089de50ead586/pygame-1.9.6-cp36-cp36m-manylinux1_x86_64.whl (11.4MB)
     |████████████████████████████████| 11.4MB 4.2MB/s
Installing collected packages: pygame
Successfully installed pygame-1.9.6
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

error: ignored

In [83]:
# Python code for Julia Fractal 
# en CMD tipear: pip install Imagen
# en CMD tipear: pip install Pillow

from PIL import Image 
   
# driver function 
if __name__ == "__main__": 
    
    # setting the width, height and zoom  
    # of the image to be created 
    w, h, zoom = 1920,1080,1
   
    # creating the new image in RGB mode 
    bitmap = Image.new("RGB", (w, h), "white") 
  
    # Allocating the storage for the image and 
    # loading the pixel data. 
    pix = bitmap.load() 
     
    # setting up the variables according to  
    # the equation to  create the fractal 
    cX, cY = -0.7, 0.27015
    moveX, moveY = 0.0, 0.0
    maxIter = 255
   
    for x in range(w): 
        for y in range(h): 
            zx = 1.5*(x - w/2)/(0.5*zoom*w) + moveX 
            zy = 1.0*(y - h/2)/(0.5*zoom*h) + moveY 
            i = maxIter 
            while zx*zx + zy*zy < 4 and i > 1: 
                tmp = zx*zx - zy*zy + cX 
                zy,zx = 2.0*zx*zy + cY, tmp 
                i -= 1
  
            # convert byte to RGB (3 bytes), kinda  
            # magic to get nice colors 
            pix[x,y] = (i << 21) + (i << 10) + i*8
  
    # to display the created fractal 
    bitmap.show()

KeyboardInterrupt: ignored

## Website
https://www.pythonforbeginners.com/code-snippets-source-code/python-code-examples